html, body{
  width: 100%;
  margin: 0;
  background-color: rgb(41, 38, 59);
}
#container {
  margin: 1em auto 0 auto;
  background-color: rgb(41, 87, 226); color: seashell;
}
#row1 {
  line-height: 3pc;
  height: 3pc;
  text-align: center;
  background-color: rgb(81, 115, 146);
}
#row2 {
  line-height: 14pc;
  height: 14pc;
  text-align: center;
  background-color: rgb(39, 64, 119);
  overflow: hidden;
}
#row3 {
  line-height: 3pc;
  height: 31pc;
  
  background-color: rgb(33, 34, 97);
  overflow: hidden;
}
#editor{
  max-height: 100%;
  line-height: normal;
}
#blank {
  background-color: rgb(41, 38, 59);
}
@media screen and (max-width:900px) {

}